!!!
%html{lang: 'en'}
  %head
    %title== Ratings Summary: #{@range}
    = bootstrap_assets
    = css :application
    = js :app
  
  %body
    %div.page-header
      %h1== #{@range}

    - container :fluid do
      %section#overview
        %h3 Overview
        %dl{class: 'dl-horizontal'}
          %dt.total-ratings Number of ratings
          %dd.total-ratings --

          %dt.average-score Average score
          %dd.average-score --

          %dt.median-score Median score
          %dd.median-score --

          %dt.unique-styles Unique styles
          %dd.unique-styles --

      %section#statistics
        %h3 Score distributions
        %div#scoreDistributionChart

    :javascript
      var ratings;
      d3.json('/ratings', function(error, json) {
        if (error) return console.warn(error);
        ratings = json;
        updateOverview();
        alert('Ratings have been loaded from server');
      });

      function updateOverview() {
        scores = ratings.map(function(r) { return r['computed_score'] })
        numberFormatter = d3.format('0.3r');

        $('dd.total-ratings').text(ratings.length + ' Ratings');
        $('dd.average-score').text(
          numberFormatter(d3.mean(scores))
        );
        $('dd.median-score').text(
          numberFormatter(d3.median(scores))
        ) 
      }
  
      function renderGeographicData() {
      }
 
      function renderScoreDistribution() {
      }
