!!!
%html{lang: 'en'}
  %head
    %title== Ratings Summary: #{@title} 
    = css :application
    = js :app
  
  %body
    %div.page-header
      %h1== #{@title}

    .container.fluid
      %section#overview
        %h3 Overview
        .row
          %div.col-xs-12
          %dl{class: 'dl-horizontal'}
            %dt.total-ratings Number of ratings
            %dd.total-ratings --
  
            %dt.average-score Average score
            %dd.average-score --
  
            %dt.median-score Median score
            %dd.median-score --
  
            %dt.unique-styles Unique styles
            %dd.unique-styles --

    .container.fluid
      %section#statistics
        %h3{class: 'bg-info'} 
          Score Distribution
          %div{id: 'scoreDistribution', class: 'row'}
            %div{class: 'visualization col-md-6'}
              %div{id: 'scoreDistributionChart'}
              %div{id: 'scoreDistributionXAxis'}
              %div{id: 'scoreDistributionCaption'}
            %div{class: 'scores col-md-6'}
        %div{id: 'scoreDistributionCharts'}
          .row 
            %div{id: 'aromaDistribution', class: 'col-md-6'}
            %div{id: 'appearanceDistribution', class: 'col-md-6'}
          .row 
            %div{id: 'flavorDistribution', class: 'col-md-6'}
            %div{id: 'palateDistribution', class: 'col-md-6'}
          .row
            %div{id: 'overallDistribution', class: 'col-md-6'}

    :javascript
      $(document).ready(function() {
        initializeRatings('#{@callback}');
      });

